$leftRightWidth: 260px;

.visual-editor-content {
    height: 100%; // 上下留间隙（滚动条出现时，会占用宽高）
    margin: 0px 0px;
    overflow: auto;
    box-sizing: border-box;
}

.visual-editor-canvas {
    margin: 10px;
    width: 1000px;
    height: 1000px;
    background-color: #fff;
}

.visual-editor-mark-line-y {
    position: absolute;
    left: 0; right: 0;
    border-top: 1px dashed #fff;
}

.visual-editor-mark-line-x {
    position: absolute;
    top: 0; bottom: 0;
    border-left: 1px dashed #fff;
}

