$leftRightWidth: 260px;

.visual-editor-content {
    height: 100%; // 上下留间隙（滚动条出现时，会占用宽高）
    margin: 0px 0px; // 左右留10px空隙
    //background-color: $bgColor;
    overflow: auto;
}

.visual-editor-canvas {
    position: relative;
    width: 1000px;
    height: 1000px;
    background-color: yellowgreen;
}

.visual-editor-block {
    position: absolute;
}
.visual-editor-block-focus {
    .el-button, .el-input {
        transition: none;
    }
    &::after {
        display: block;  // 编辑状态下，可以拖拽，不能输入
        content: '';
        position: absolute;
        left: 0; right: 0; bottom: 0; top: 0;
        border: 1px dashed #fff; // focus边框虚线
    }
}

// 拖拽图片样式
.visual-block-img {
    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
    }
}

.visual-editor-mark-line-y {
    position: absolute;
    left: 0; right: 0;
    border-top: 1px dashed #fff;
}

.visual-editor-mark-line-x {
    position: absolute;
    top: 0; bottom: 0;
    border-left: 1px dashed #fff;
}